*{
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
}
.bg{
    background-image: url("https://cdn.pixabay.com/photo/2020/02/11/14/10/earphones-4839690_1280.jpg"); 
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}
nav{
    width:100%;
    height:90px;
    background-color: rgb(32, 32, 32);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top:0px;
    display: flex;
    justify-content: left;
    align-items: center;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin:30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 3px;
    transition:0.5s;
    padding:10px;
    border:1.5px solid turquoise;
} 
#music{
    font-family:'Finlandica', sans-serif;
    color: rgba(255, 249, 249, 0.932);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin:0%;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%,-50%);
}
#socialmedia{
    margin-left: 400px;
}
#head{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-50%);
    color: transparent;
    font-weight: bold;
    font-size: 120px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    background: url(../images/images.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    /* text-align: center; */
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}
.login{
    float: right;
    right: 0;
    margin-left: 500px;
    text-decoration: none;
    font-size:20px;
    color: white;
    transition: all 0.5s;
}
.login:hover{
    background-color: black;
    color: white;
    border-radius: 3px;
    transition:0.5s;
    padding:10px;
    border:1.5px solid turquoise;
}