*{
    margin:0px;
    padding: 0%;
}
.bg{
    background-image: url("https://www.ppt-backgrounds.net/thumbs/dark--2560x1600--71060-template-image.jpeg"); 
    background-repeat:repeat-y;
    background-size: cover;
}
.header{
    width: 100%;
    height: 70px;
    background-color: rgb(32, 32, 32);
    padding: 0px 20px;
}
.menu{
    list-style: none;
    float: left;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.menu li{
    display: inline-block;
    line-height: 70px;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.menu li a:hover{
    background-color: black;
    color: white;
    border-radius: 3px;
    transition:0.5s;
    padding:10px;
    border:1.5px solid turquoise;
}
.show-btn,.hide-btn{
    color: white;
    font-size: 30px;
    line-height: 70px;
    display: none;
    
}
.show-btn{
    float: right;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -10;
}
.show-btn:hover, .hide-btn:hover{
    color: black;
}
#socialmedia{
    margin-left: 1188px;
    margin-top: -55px;
}
.container{
    min-height: 90vh;
    color:white;
}
.bottom{
    position:sticky;
    height:120px;
    background-color:black;
    bottom:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#myprogressBar{
   width:80vw; 
   cursor: pointer;
}
.icons{
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
.songItem{
  height:50px;
  display:flex;
  width:50%;
  background-color: black;
  margin:12px 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  /* border:1px solid white; */
}
.songItem:hover{
    border:2px solid turquoise;
}
.songItem img{
width:50px;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
}
.timestamp{
    margin:0 23px;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 50px;
}
.songInfo{
    position: absolute;
    left:9vw;
}
.songInfo img{
  opacity:0;
  transition: opacity 1s ease-in;
}
.right{
   width:480px;
   height:400px;
   background-color:black; 
   margin-left: 840px;
   position:absolute;
   top:10%;
   border-radius: 10%;
   border:2px solid turquoise;
   box-shadow: 5px 10px rgba(153, 147, 147, 0.795) ;
   /* transition: 3s; */
   /* display: none; */
}
.right:hover{
   transform: scale(1.03);
   box-shadow: 5px 10px white; 
}
.container{
    /* display: flex; */
    position:relative;
}
.righthead{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}
.description{
    color: white;
    margin-top: 20px;
    font-size: 25px;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .header{
        width: 320px;
    }
    .show-btn,.hide-btn{
        display: block;
    }
    .bg{
        background-size: cover;
        
    }
    .menu {
        position: fixed;
        z-index: 1;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        line-height: normal;
        text-align: center;
        transition: .7s;
        padding: 80px 0px;
    }
    .menu li{
        display: block;
    }
    .menu li a{
        display: block;
    }
    .menu li a:hover{
        background-color: black;
        color: white;
        border-radius: 3px;
        transition:0.5s;
        padding:5px;
        border:1.5px solid turquoise;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
    .hide-btn{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    h1{
        font-size: 24px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .songItem{
        width: 340px;
        margin-left: 14px;
    }
    span.songName{
        font-size: 18px;
    }
    .right{
        margin: 0;
        padding: 0;
        width: 280px;
        height: 240px;
        z-index: 0;
        margin-top: -40px;
        margin-left: 20px;
    }
    .righthead{
        font-size: 25px;
    }
    .description{
        font-size: 18px;
    }
    div.songInfo{
        margin-left: -20px;
    }
    .icons{
        margin-left: 100px;
    }
    .songItemContainer{
        margin-top: 320px;
    }
    #myprogressBar{
        width: 80%;
    }
}